[submodule "Services/Catalog/Catalog.Api"]
	path = Services/Catalog/Catalog.Api
	url = https://github.com/rezaokhravi/Catalog.Api.git
[submodule "Services/Basket/Basket.Api"]
	path = Services/Basket/Basket.Api
	url = https://github.com/rezaokhravi/Basket.Api.git
